@page "/editcart/{cartEntryID:int}"
@using OnlineShoppingViewModels
@inject HttpClient http
@inject NavigationManager Navigation

<h3>EditCart</h3>

<EditForm Model="@cartItem" OnValidSubmit="HandleValidSubmit" FormName="Edit Cart">
    <FluentStack Orientation="Orientation.Vertical">
        <FluentNumberField @bind-Value="cartItem.Quantity" Label="Quantity" TValue="int" />
        <FluentStack Orientation="Orientation.Horizontal">
            <FluentButton Type="ButtonType.Submit">Save</FluentButton>
            <FluentButton OnClick="@(() => Navigation.NavigateTo("/ShoppingCart/"))">Cancel</FluentButton>
        </FluentStack>
    </FluentStack>
</EditForm>

@code {
    [Parameter]
    public int CartEntryID { get; set; }

    [SupplyParameterFromForm]
    public CartEntryViewModel cartItem { get; set; } = new();

    protected override async Task OnParametersSetAsync()
    {
        cartItem = await http.GetFromJsonAsync<CartEntryViewModel>($"/api/CartEntry/{CartEntryID}");
    }

    private async Task HandleValidSubmit()
    {
        await http.PutAsJsonAsync($"/api/CartEntry/{CartEntryID}", cartItem);
    }
}
