@page "/Shorts"

<style>

    .shorts {
        width: 250px;
        height: 250px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
        border-radius: 10px;
    }

    .column {
        float: left;
        width: 50%;
        padding: 10px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

</style>

<FluentCard>
    @if (shortsVisible)
    {
        <div>@shorts</div>
        <br />
        <div class="row">
            <div class="column left">
                <FluentCard>
                    <h2>TShirt Column 1</h2>
                    <p>Some text..</p>
                </FluentCard>
            </div>
            <div class="column right">
                <FluentCard>
                    <h2>TShirt Column 2</h2>
                    <p>Some text..</p>
                </FluentCard>
            </div>
        </div>
    }
</FluentCard>
<FluentSpacer />

@code {

    [Parameter]
    public string Title { get; set; } = "Shorts";

    [Parameter]
    public EventCallback<string> Clicked { get; set; }

    [Parameter]
    public RenderFragment shorts { get; set; } = default!;

    private bool shortsVisible = true;

    public void ToggleContent()
    {
        shortsVisible = !shortsVisible;
        StateHasChanged();
    }

}
